<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>库房</title>
</head>
<link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" media="all">
<script src="/admin/js/jquery.min.js"></script>
<style>
  .grid-demo{padding: 10px; line-height: 120px; text-align: center; background-color: #fff; color: #fff;}
  .grid-demo-bg1{background-color: #A8AAA7;}
  /*.grid-demo-bg2{background-color: #1c97f5;}*/
  /*.grid-demo-bg3{background-color: #A8AAA7;}*/
  /*.grid-demo-bg4{background-color: #1c97f5;}*/
</style>
<body>
<div class="layui-container">

<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">-->
  <!--<legend><span th:text="${storeroomname}">暂未分配</span></legend>-->
<!--</fieldset>-->

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title" >
    <!--<li class="layui-this">货架A</li>-->
    <li th:each="qy:${quweishows}" th:text="${qy.quweiname}" ></li>
  </ul>


  <div class="layui-tab-content" style="height: 100px;">


    <div  class="layui-tab-item layui-show" th:each="qy:${quweishows}">
      <div class="layui-row">
        <div class="layui-col-md12">




          <div  class="layui-row grid-demo" >

            <div class="layui-col-md3" th:each="s:${qy.quweicollections}" >
              <div class="grid-demo grid-demo-bg1"  style="border:1px solid #000;margin:5px">
                <!--编号:<span th:text="${s.collectionno}"></span>-->
                <span th:text="${s.collectionname}" style="margin-left: 1%"></span>
                <!--<span  style="width:200px;height:30px;line-height:30px;padding:10px;margin:20px;">11111</span>-->

                <img th:src="${s.image}" src="../../static/admin/img/0bdad4c5-a874-4dc6-a2e4-1ae113a15b6a.jpg" height="100" width="100"/></div>
            </div>

          </div>
      </div>
    </div>

    <div class="layui-tab-item">内容2</div>

    <div class="layui-tab-item">内容3</div>

    <div class="layui-tab-item">内容4</div>
    </div>
  </div>
</div>
</div>




<script th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>

<script>
  layui.use('element', function(){
    var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    //触发事件
    var active = {
      tabAdd: function(){
        //新增一个Tab项
        element.tabAdd('demo', {
          title: '新选项'+ (Math.random()*1000|0) //用于演示
          ,content: '内容'+ (Math.random()*1000|0)
          ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
        })
      }
      ,tabDelete: function(othis){
        //删除指定Tab项
        element.tabDelete('demo', '44'); //删除：“商品管理”


        othis.addClass('layui-btn-disabled');
      }
      ,tabChange: function(){
        //切换到指定Tab项
        element.tabChange('demo', '22'); //切换到：用户管理
      }
    };

    $('.site-demo-active').on('click', function(){
      var othis = $(this), type = othis.data('type');
      active[type] ? active[type].call(this, othis) : '';
    });

    //Hash地址的定位
    var layid = location.hash.replace(/^#test=/, '');
    element.tabChange('test', layid);

    element.on('tab(test)', function(elem){
      location.hash = 'test='+ $(this).attr('lay-id');
    });

  });
</script>



</body>
</html>