<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>藏品添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
      <!--<link rel="stylesheet" href="/admin/layui/css/layui.css"  media="all">-->
      <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/layui/layui.js" charset="utf-8"></script>
      <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="form-wrap" >

  <div class="layui-fluid">
    <div class="layui-card">
        <fieldset class="layui-elem-field" style="margin-top: 10px">
            <legend><span style="font-family:FZYaoti;font-size: 25px;">修改藏品</span><span style="font-family:FZYaoti;font-size: 15px;">(只填写需要修改的字段,不用全部全部填写重复的内容)</span></legend>
            <div class="layui-field-box">

                <div class="layui-card-body" style="padding: 15px;">

                    <form class="layui-form" action="" lay-filter="component-form-group">

                        <div class="layui-form-item" >

                            <div class="layui-inline">
                                <label class="layui-form-label">编号类型</label>
                                <div class="layui-input-inline">
                                    <select name="collectionnotype"  lay-search="">
                                        <option value="">请选择</option>
                                        <option value="藏品总登记号">藏品总登记号</option>
                                        <option value="辅助账号">辅助账号</option>
                                        <option value="索书号">索书号</option>
                                        <option value="档案编号">档案编号</option>
                                        <option value="固定资产登记号">固定资产登记号</option>
                                        <option value="财产登记号">财产登记号</option>
                                        <option value="出土(水)登记号">出土(水)登记号</option>
                                        <option value="其他编号">其他编号</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline" >
                                <label class="layui-form-label">藏品编号</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="collectionno"  autocomplete="off" class="layui-input" style="width: 400px">
                                </div>
                            </div>

                        </div>



                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">藏品名称</label>
                                <div class="layui-input-block" style="width: 300px">
                                    <input type="text" name="collectionname"  placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">藏品原名</label>
                                <div class="layui-input-block" style="width: 300px">
                                    <input type="text" name="collectionoldname"  placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>




                        <div class="layui-form-item" >
                            <div class="layui-inline" style="width: 400px">
                                <label class="layui-form-label">藏品年代</label>
                                <div class="layui-input-inline" style="width: 255px">
                                    <select name="collectionyear" lay-filter="year" >
                                        <option value="" selected="">选择年代</option>
                                        <option value="旧石器时代">旧石器时代（约200万—1万年前）</option>
                                        <option value="新石器时代">新石器时代（约1万—4千年前）</option>
                                        <option value="夏">夏（前2029年-前1559年）</option>
                                        <option value="商">商（前1559年-前1046年）</option>
                                        <option value="西周">西周（前1046年-前771年）</option>
                                        <option value="东周">东周（前770年 -前256年）</option>
                                        <option value="秦">秦（前221年-前206年）</option>
                                        <option value="汉">汉（前202--220年）</option>
                                        <option value="三国">三国（220年－280年）</option>
                                        <option value="西晋">西晋（265年-316年）</option>
                                        <option value="东晋">东晋（317年-420年）</option>
                                        <option value="十六国">十六国（304年-439年）</option>
                                        <option value="南北朝">南北朝（420年—589年）</option>
                                        <option value="隋">隋（581年-619年）</option>
                                        <option value="唐">唐（618年-907年）</option>
                                        <option value="五代十国">五代十国（891年-979年）</option>
                                        <option value="宋朝">宋朝（960年-1279年）</option>
                                        <option value="辽">辽（916 年-1125年）</option>
                                        <option value="西夏">西夏（1038年-1227年）</option>
                                        <option value="金">金（1115年-1234年）</option>
                                        <option value="元">元（1271年-1368年）</option>
                                        <option value="明">明（1368年-1644年）</option>
                                        <option value="清">清（1636年到1911年）</option>
                                        <option value="民国">民国（1912年-1949年）</option>
                                        <option value="现代">现代（1949-至今）</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" >
                                <label class="layui-form-label">具体年份</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="collectionjtyear"  autocomplete="off" class="layui-input" style="width: 250px">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item" >
                            <div class="layui-inline">
                                <label class="layui-form-label">修复状态</label>
                                <div class="layui-input-inline">
                                    <select name="collectionpreservation"  lay-search="">
                                        <option value="">请选择</option>
                                        <option value="已修复">已修复</option>
                                        <option value="不需修复">情况稳定,不需修复</option>
                                        <option value="可修复">部分损腐,需修复</option>
                                        <option value="急需修复">腐蚀损毁严重,急需修复</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">文物级别</label>
                                <div class="layui-input-inline">
                                    <select name="collectionlevel"  lay-search="">
                                        <option value="">请选择文物级别</option>
                                        <option value="一级">一级</option>
                                        <option value="二级">二级</option>
                                        <option value="三级">三级</option>
                                        <option value="一般">一般</option>
                                        <option value="未定级">未定级</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">完残程度</label>
                                <div class="layui-input-inline">
                                    <select name="collectiondisability"  lay-search="">
                                        <option value="">请选择</option>
                                        <option value="完整">完整</option>
                                        <option value="基本完整">基本完整</option>
                                        <option value="残缺">残缺</option>
                                        <option value="严重残缺">严重残缺(含缺失部件)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">藏品来源</label>
                                <div class="layui-input-inline">
                                    <select name="collectionsource" lay-search="">
                                        <option value="">请选择</option>
                                        <option value="其他">其他</option>
                                        <option value="购买">购买</option>
                                        <option value="捐赠">捐赠</option>
                                        <option value="征集">征集</option>
                                        <option value="旧藏">旧藏</option>
                                        <option value="拨交">拨交</option>
                                        <option value="移交">移交</option>
                                        <option value="发掘">发掘</option>
                                        <option value="采集">采集</option>
                                        <option value="拣选">拣选</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">规格</label>
                                <div class="layui-input-inline">
                                    <select name="collectioncount"  lay-search="">
                                        <option value="">请选择</option>
                                        <option value="单件/套">单件/套</option>
                                        <option value="多件">多件</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">通长(底径)</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="collectiondiameter"  placeholder="cm" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">通宽(口径)</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="collectionbore"   placeholder="cm" autocomplete="off" class="layui-input" >
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">通高</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="collectionhigh"  placeholder="cm" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">具体尺寸</label>
                                <div class="layui-input-block" style="width: 41%">
                                    <input type="text" name="collectionsize"  placeholder="" autocomplete="off" class="layui-input" style="width: 250px">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">藏品类型</label>
                                <div class="layui-input-inline">
                                    <select name="collectiontypeid" >
                                        <option value="">请选择藏品类型</option>
                                        <optgroup label="文物" th:each="item:${session.typelist}" th:label="${item.collectiontypename}">
                                            <option value="8" th:each="itema:${item.types}" th:value="${itema.collectiontypeid}" th:text="${itema.collectiontypename}">历史文物</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">入藏年度</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="collectioninyear"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">藏品质量</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="collectionmass"  placeholder="kg" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>


                        <div class="layui-form-item layui-form-text" style="width: 41%">
                            <label class="layui-form-label">基本描述</label>
                            <div class="layui-input-block">
                                <textarea name="collectionremark" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-layout-admin">
                            <div class="layui-input-block">
                                <div class="layui-footer" style="left: 0;">
                                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">修改</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </fieldset>
    </div>
  </div>

  <!--<script src="/admin/layui/layui.js" charset="utf-8"></script>-->
  <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

  <script>

  layui.use(['form', 'laydate','upload'], function(){
    var upload = layui.upload
        ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;

    // form.render(null, 'component-form-group');
    //
    // laydate.render({
    //   elem: '#LAY-component-form-group-date'
    // });

    /* 自定义验证规则 */
    // form.verify({
    //   title: function(value){
    //     if(value.length < 5){
    //       return '标题至少得5个字符啊';
    //     }
    //   }
    //   ,pass: [/(.+){6,12}$/, '密码必须6到12位']
    //   ,content: function(value){
    //     layedit.sync(editIndex);
    //   }
    // });



    /* 监听提交
    * */
      var collectionid = [[${collectionid}]] //藏品ID
    form.on('submit(component-form-demo1)', function(data){
      // parent.layer.alert(JSON.stringify(data.field), {
      //   title: '最终的提交信息'
      // });
      //   layer.alert(JSON.stringify(data.field.collectionnotype));
        $.ajax({
            datatype: "json",
            type: "post",
            url: "/collections/updatecollection",
            data: {
                collectionid:collectionid
                ,collectionnotype:data.field.collectionnotype// {"collectionnotype":"藏品总登记号"
                ,collectionno:data.field.collectionno //     ,"collectionno":"编号"
                ,collectionname:data.field.collectionname  //     ,"collectionname":"名称"
                ,collectionyear:data.field.collectionyear   //     ,"collectionyear":"旧石器时代"
                ,collectiontypeid:data.field.collectiontypeid // 藏品类别ID
                ,collectionlevel:data.field.collectionlevel //     ,"collectionlevel":"二级"
                ,collectiondisability:data.field.collectiondisability  //     ,"collectiondisability":"严重残缺"
                ,collectionpreservation:data.field.collectionpreservation     //     ,"collectionpreservation":"不需修复"
                ,collectiondiameter:data.field.collectiondiameter    //     ,"collectiondiameter":"100"
                ,collectionbore:data.field.collectionbore     //     ,"collectionbore":"100"
                ,collectionhigh:data.field.collectionhigh      //     ,"collectionhigh":"100"
                ,collectionsize:data.field.collectionsize    //     ,"collectionsize":"100*100*100"
                ,collectionoldname:data.field.collectionoldname        //     ,"collectionoldname":"原名"
                ,collectionsource:data.field.collectionsource        //     ,"collectionsource":"征集"
                ,collectionremark:data.field.collectionremark   //     ,"collectionremark":"描述"
                ,collectioncount:data.field.collectioncount        //     ,"collectioncount":"单件/套"
                ,collectionmass:data.field.collectionmass//     ,"collectionmass":"50"
                ,collectioninyear:data.field.collectioninyear   //     ,"collectioninyear":"2019"
                ,collectionjtyear:data.field.collectionjtyear //     ,"collectionjtyear":"1990"
                // ,createdtime:data.field.createdtime 创建时间
                // ,modifiedTime:data.field.modifiedTime修改时间
                // ,empid:1//添加用户信息
                // ,collectionaddresscode:data.field.collectionaddresscode存放地址编码
                // ,collectionstatus:0//状态  添加默认为下架状态  审核通过后修改为上架状态
            },
            success: function (result) {//添加藏品过后生成的ID  用来添加图片表的
                if(result!='ok'){
                    layer.msg("出现巨大的bug，请联系9527")
                }else{
                    layer.msg("修改成功",{icon: 1,time: 700});
                    // location.replace(location.href);
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                    parent.layer.close(index); //再执行关闭
                }
            },
            error: function () {
                layer.msg("出现bug了，请联系大观文化工作人员,电话:52288888")
            }
        });
      return false;
    });
  });

  </script>


</body>
</html>