<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.zkingedu.common.dao.UserDao">
    <select id="getAllUser" resultType="user">
      select * from t_user
    </select>

    <resultMap id="userRolePermission" type="user">
        <id property="uid" column="uid"></id>
        <result property="uname" column="uname"></result>
        <result property="upwd" column="upwd"></result>
        <collection property="roles" ofType="role">
            <id property="rid" column="rid"></id>
            <result property="role" column="role"></result>
            <collection property="permissions" ofType="permission">
                <id property="pid" column="pid"></id>
                <result property="pname" column="pname"></result>
            </collection>
        </collection>
    </resultMap>

    <!--<select id="getUserByname" resultMap="userRolePermission" >
      select * from t_user a, t_role b ,t_permission c ,t_user_role d ,t_role_permission e where a.uid=d.uid
and b.rid=d.rid and b.rid = e.rid and c.pid = e.pid and uname=#{uname}
    </select>-->
</mapper>