<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/test"></a>
</body>
index
<table>
    <thead>
        <tr>
            <td>用户编号</td>
            <td>用户名</td>
            <td>密码</td>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="user : ${users}">
            <td data-th-text="${user.uid}"></td>
            <td data-th-text="${user.uname}"></td>
            <td data-th-text="${user.upwd}"></td>
        </tr>

    </tbody>
</table>
<shiro:hasPermission name="查看用户">
    <div >查看</div>
</shiro:hasPermission>
<shiro:hasPermission name="修改用户">
    <div >修改</div>
</shiro:hasPermission>
<shiro:hasPermission name="删除用户">
    <div >删除</div>
</shiro:hasPermission>
<shiro:hasPermission name="增加用户">
    <div >增加</div>
</shiro:hasPermission>

是的
</html>