<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>后台登录-L-admin2.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="admin/css/font.css">
	<link rel="stylesheet" href="admin/css/xadmin.css">
	
    <script src="admin/js/jquery.min.js"></script>
    <script src="admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="index.html">大观文化后台管理</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;"><div th:text="${session.user.empname}"></div></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onClick="logout">切换帐号</a></dd>
              <dd><a href="logout">退出</a></dd>
            </dl>
          </li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">



<!--             <li >
                <a href="javascript:;">
                    <i class="iconfont">&#xe6eb;</i>
                    <cite>主页</cite>
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>-->

<!--
            <li class='layui-nav-item'><a href='javascript:;'><i class="iconfont">&#xe6eb;</i>权限管理<i class="iconfont nav_right">&#xe6a7;</i></a><ul class='sub-menu'><li><a href='undefined'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;undefined</a></li></ul></li><li class='layui-nav-item'><a href='javascript:;'><i class="iconfont">&#xe6eb;</i>测试管理<i class="iconfont nav_right">&#xe6a7;</i></a><ul class='sub-menu'><li><a href='undefined'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;undefined</a></li></ul></li>
-->



        </ul>
      </div>
    </div>

    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="tabs" lay-allowclose="true">
          <ul class="layui-tab-title">

          </ul>
          <div class="layui-tab-content">
          </div>
        </div>
    </div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019  @大观文化 All Rights Reserved</div>
    </div>
     <!--底部结束-->
</body>
<script src="admin/layui/layui.all.js" charset="utf-8"></script>
<script src="admin/js/jquery.min.js"></script>
<script>
    layui.use(['element','layer'], function() {
        var element = layui.element;
        layer = layui.layer;
        $.ajax({
            url: 'emp/findMessions?id=1',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                for (var i = 0; i <= data.length; i++) {
                    var first_menu = data[i];
                    var child_menu = first_menu.childlist;
                    console.log("子菜单==" + JSON.stringify(child_menu));
                    if (child_menu == null || child_menu == undefined || child_menu == "") {
                        console.log("没有子菜单==" + first_menu.menuname);
                        loadTopMenu(first_menu);
                    } else {
                        console.log("有子菜单==" + first_menu.menuname);
                        loadHasChildMenu(first_menu);
                    }
                }
                //列表添加完后再次执行渲染
                xuanran();
            }
        })

        //加载顶级菜单(没有子菜单)
        function loadTopMenu(data) {
            alert("进入方法");
            var fragment = document.getElementById("nav");
            var list = document.createElement('li');
            list.className = "layui-nav-item";
            list.innerHTML = '<a class="site-demo-active" data-title=' + data.menuname + 'data-menuId=' + data.menuid + ' data-src=' + data.menuurl + '>' + data.menuname + '</a>';
            layer.msg("list为" + list)
            fragment.appendChild(list);
            console.log("1.=顶级菜单列表加载完毕");
        }

        function FrameWH() {
            var h = $(window).height() - 164;
            //console.log("高度问题=="+h);
            $("iframe").css("height", h + "px");}


        //加载有子菜单的
        function loadHasChildMenu(data) {
            alert("进入方法");
            var fragment = document.getElementById("nav");
            var list = document.createElement('li');
            list.className = "layui-nav-item layui-nav-itemed";
            var child_one_Html = '<a href="javascript:;">' + data.menuname + '</a>';
            var childmenus = data.childlist;
            var child_two_Html = '<dl class="layui-nav-child">';
            var childHtmls = "";
            for (var i = 0; i < childmenus.length; i++) {
                var childmenu = childmenus[i];
                var childHtml = '<dd><a class="site-demo-active"  data-title=' + childmenu.menuname + ' data-menuId=' + childmenu.menuid + ' data-src=' + childmenu.menuurl + '>' + childmenu.menuname + '</a></dd>';
                childHtmls += childHtml;
            }
            child_two_Html += childHtmls + '</dl>';
            list.innerHTML = child_one_Html + child_two_Html;
            fragment.appendChild(list);
            console.log("2.=多级菜单列表加载完毕");
        }
    })
            function xuanran() {
                alert("进入方法");
                layui.use(['element','layer'], function(){
                    var element = layui.element;
                    layer=layui.layer;

                    var layFilter = $("#left-nav").attr('lay-filter');
                    element.render('nav', layFilter);

                    var active = {
                        //在这里给active绑定几项事件，后面可通过active调用这些事件
                        tabAdd: function (url, id, name) {
                            //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                            var body_url="pages/"+url+".html";
                            console.log("要切换的页面地址="+body_url);
                            element.tabAdd('demo', {
                                title: name,
                                content: '<iframe data-frameid="' + id + '"scrolling="auto" frameborder="0" src="' + body_url + '"></iframe>',
                                id: id //规定好的id
                            })
                            FrameWH();  //计算ifram层的大小
                        },
                        tabChange: function (id) {
                            //切换到指定Tab项
                            element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                        },
                        tabDelete: function (id) {
                            element.tabDelete("demo", id);//删除
                        }
                    };
                    // //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发
                    点击事件
                    $('.site-demo-active').on('click', function () {
                        var dataid = $(this);
                        if ($(".layui-tab-title li[lay-id]").length <= 0) {
                            //如果比零小，则直接打开新的tab项
                            console.log("没有tab页，新建tab页");
                            active.tabAdd(dataid.attr("data-src"), dataid.attr("data-menuId"),dataid.attr("data-title"));
                        } else {
                            //否则判断该tab项是否以及存在
                            var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                            $.each($(".layui-tab-title li[lay-id]"), function () {
                                //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                                if ($(this).attr("lay-id") == dataid.attr("data-menuId")) {
                                console.log("如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开");
                                isData = true;
                            }
                        })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        console.log("新增一个tab项")
                        active.tabAdd(dataid.attr("data-src"), dataid.attr
                        ("data-menuId"),dataid.attr("data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-menuId"));
            });
            })
            console.log("==列表添加完后再次执行渲染");
            }

</script>
</html>