<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
</head>
<body onload="startTime()">
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">欢迎管理员：
        <span class="x-red" th:text="${session.user.empname}">test</span>！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：<span id="txt">2018-04-25 20:50:53</span>
        </blockquote>


    <fieldset class="layui-elem-field">
        <legend>系统信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>当前版本</th>
                    <td>1.0.12</td></tr>
                <tr>
                    <th>服务器地址</th>
                    <td>#</td></tr>
                <tr>
                    <th>操作系统</th>
                    <td>Windows 10</td></tr>
                <tr>
                    <th>运行环境</th>
                    <td>Apache/2.4.23 (Win64) OpenSSL/1.0.2j mod_fcgid/2.3.9</td></tr>
                <tr>
                    <th>JDK版本</th>
                    <td>1.8</td></tr>
                <tr>
                    <th>MYSQL版本</th>
                    <td>5.7</td></tr>
                <tr>
                    <th>上传附件限制</th>
                    <td>2M</td></tr>
                <tr>
                    <th>执行时间限制</th>
                    <td>30s</td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>开发团队</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>版权所有</th>
                    <td>大观文化智能科技有限公司
                        <a href="javascript:;" class='x-a' target="_blank">访问官网</a></td>
                </tr>
                <tr>
                    <th>开发者</th>
                    <td>#</td></tr>
                </tbody>
            </table>
        </div>
    </fieldset>
        <fieldset class="layui-elem-field">
            <legend>基本展示</legend>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="id1">

            <div id="main" style="width:500px;height:400px;float:left;"></div>

            <div id="main2" style="width:500px;height:400px;float:left;"></div>

        </div>
    </fieldset>

    <blockquote class="layui-elem-quote layui-quote-nm">大观文化智能科技有限公司,本系统由大观开发部提供技术支持。</blockquote>
</div>

<script>
    function startTime(){
        var today = new Date();
        var n = today.getFullYear();//年
        var y = today.getMonth();//月
        var r = today.getDate();
        var h = today.getHours();
        var m = (Array(2).join(0)+ today.getMinutes()).slice(-2);
        var s = (Array(2).join(0)+today.getSeconds()).slice(-2);
        document.getElementById("txt").innerHTML = n+"-"+y+"-"+r+"  " + h + ":" + m + ":" + s;
        var t = setTimeout('startTime()', 500);
    }
</script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 显示标题，图例和空的坐标轴
    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['数量']
        },
        series: [{
            name: '数量',
            type: 'bar',
            name:'访问来源',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[]
        }]
    });

    myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

    var names=[];    //类别数组（实际用来盛放X轴坐标值）
    var nums=[];    //销量数组（实际用来盛放Y坐标值）

    $.ajax({
        type : "post",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "home/testdata",    //请求发送到url处
        data : {},
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            console.log(result);
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for(var i=0;i<result.length;i++){
                    names.push(result[i].collectiontypename);    //挨个取出类别并填入类别数组
                }
                for(var i=0;i<result.length;i++){
                    nums.push({
                        value:result[i].collectioncount,
                        name:result[i].collectiontypename
                    });    //挨个取出销量并填入销量数组
                }
                myChart.hideLoading();    //隐藏加载动画
                myChart.setOption({        //加载数据图表
                    legend:{
                        data:names
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name: '数量',
                        data: nums
                    }]
                });

            }

        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })
    loadTwo();

    function loadTwo() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));
        // 显示标题，图例和空的坐标轴
        myChart.setOption({
            title: {
                text: '分类显示'
            },
            tooltip: {
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                data:['数量']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: []
            }]
        });

        myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画

        var names=[];    //类别数组（实际用来盛放X轴坐标值）
        var nums=[];    //销量数组（实际用来盛放Y坐标值）

        $.ajax({
            type : "post",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url : "home/testdata",    //请求发送到url处
            data : {},
            dataType : "json",        //返回数据形式为json
            success : function(result) {
                console.log(result);
                //请求成功时执行该函数内容，result即为服务器返回的json对象
                if (result) {
                    for(var i=0;i<result.length;i++){
                        names.push(result[i].collectiontypename);    //挨个取出类别并填入类别数组
                    }
                    for(var i=0;i<result.length;i++){
                        nums.push(result[i].collectioncount);    //挨个取出销量并填入销量数组
                    }
                    myChart.hideLoading();    //隐藏加载动画
                    myChart.setOption({        //加载数据图表
                        xAxis: {
                            data: names
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '数量',
                            data: nums
                        }]
                    });

                }

            },
            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        })
    }

</script>
</body>
</html>
